<ion-header>
  <ion-toolbar color="stable">

    <ion-row>
      <ion-col size="2" class="ion-padding ion-text-center backBtn" (click)="onBackButtonPress()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </ion-col>
      <ion-col size="8">
        <div class="ion-text-center">
          <ion-img class="logo" src="assets/AL-03.svg"></ion-img>
        </div>
      </ion-col>
      <ion-col size="2">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-col>
    </ion-row>
      
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" class=nextsetlbl> 
          <ion-label class="forwardicon" (click)="refreshData(chapterNo)"> Next Set<span><ion-icon name="ios-arrow-forward" color="dark"></ion-icon></span></ion-label>
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-text>
            <ion-label class="termslistlabel">{{TopicData.topic_title}}</ion-label>
        </ion-text>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="12">
          <ion-label class="chapterlbl">Chapter {{chapterNo + 1}} / <span class="setcard">Set ({{this.flascardList.length}} Cards)</span></ion-label>
          <hr>
      </ion-col>
    </ion-row>

   <ion-row>
    <ion-col size="8" >
        <ion-segment [(ngModel)]="courseinformation">
          <ion-segment-button value="card" class="cardsbtn">
            <ion-label class="courselabel">Cards</ion-label>
          </ion-segment-button>
          <ion-segment-button value="course" class="coursebtn">
            <ion-label  class="courselabel">Course</ion-label>
          </ion-segment-button>
        </ion-segment>
    </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="12">
        <ion-button class="studybtn" [disabled]="flascardList.length > 0 ? 'false' : 'true'" (click)="goToFlashcards()">Study {{this.flascardList.length}} cards 
          <span class="arrowforward"><ion-icon  name="ios-arrow-forward"></ion-icon></span></ion-button>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="8">
        <ion-label class="cardsetlabel" >{{this.flascardList.length}} cards in set</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="8">
        <h1 class="flashcardcontent">Flashcard Content Overview Section </h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <p class="paragraph" *ngIf="!!TopicData.topic_description">{{TopicData.topic_description}}</p>
        <p class="paragraph" *ngIf="!TopicData.topic_description">Chapter description not found</p>
      </ion-col>
    </ion-row>

  </ion-grid>
  

</ion-content>
