
app-termslist{
    .logo{
        height: 50px;
    }
    .backBtn{
        font-size: 25px;
    }
    
    .iconSize{
        font-size: 18px;
        color: #424242;
    }

    .nextsetlbl{
        text-align: right;
    }
    .termslistlabel{
        color: #5AADAD;
        font-size: 25px;
        margin: 0px;
        font-weight: bold;
    }
    
    .chapterlbl{
        color: #5AADAD;
        font-weight: normal;
    
    }
    .setcard{
        color:#000;
    }
    .courselabel{
        color: whitesmoke;
    }
    .cardsbtn{
        margin: 6px;
        border-radius: 13px 13px 0px 0px;
        background:#5491A9;
        --background-checked:#324C56;
    }
    .coursebtn{
        margin: 6px;
        border-radius: 13px 13px 0px 0px;;
        background:#5491A9;
    }
    .studybtn{
        --background:#5CBC8E;
        text-transform: none;
        height: 43px;
        margin-left: 33%;
        margin-right: 30%
    }
    .cardsetlabel{
        color:#5491A9;
    }
    .overviewsection{
        
        margin-top: -10px;
        line-height: normal;
    }
    .flashcardcontent{
        margin-top: -8px;
        line-height: normal;
    }
    hr{
        border-width: 1px;
    }
    .forwardicon{
        color:#4798B0;
        margin-left: 259px;
        
    }
    .paragraph{
        margin-top: 0px;
    }
    .unlockicon{
        text-align: center;
        font-size: 20px;
        
    }
    .unlocklabel{
        text-align: center;

    }

    .lastheading{
        color:#49A4A4;
        text-align: center;
        margin-top: -4px;

    }
    .arrowforward{
        color: white;
    margin-left: 3px;
    font-size: 18px;
    }
    
}