<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Home">
      <ion-icon name="ios-list"></ion-icon>
      <ion-label>Overview</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="Syllabus">
      <ion-icon name="ios-information"></ion-icon>
      <ion-label>Syllabus</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="Tests">
      <ion-icon name="ios-create"></ion-icon>
      <ion-label>Tests</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>