<ion-header>
  <ion-toolbar color="stable">
        <ion-row>
          <ion-col size="2" class="ion-padding ion-text-center backBtn" (click)="goBack()">
            <ion-icon name="ios-arrow-back"></ion-icon>
          </ion-col>
          <ion-col size="8" class="ion-text-center">
            <div class="ion-text-center">
              <ion-img class="logo" src="assets/AL-03.svg"></ion-img>
            </div>
          </ion-col>
          <ion-col size="2">
            <ion-menu-button autoHide="false"></ion-menu-button>
          </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div *ngIf="AboutString" [innerHTML]="AboutString"></div>
        <div *ngIf="!AboutString" class="ion-text-center">{{ErrorText}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
