app-accordiolnlist{
 
    .accordion{
        --background:   #4197B2 ;
        text-transform: none;
        min-height: 50px;
    }
    .droupup{
        transition: 0.2s linear;
        text-align: right;
    }
    .panel{
        padding: 0 0px;
    }
    
    .showHide{
        display: none;
    }
    .chaptername{
        color: #4197B2;
    }
    .iconarrow{
        width: 100%;
        float: right;
        text-align: right;
    }
    .eyecol{
        text-align: right;
    }
    .topicdescription{
        padding-left: 20px;
    }
    .chaptername{
        text-align: left;
    }
    .linedraw{
        border-bottom: 1px solid #ccc;
    }
}