<div class="accordiolnlist-container" >

  <ion-row>
    <ion-col size="12">
      <ion-label color="primary" (click)="expandAllFun()">expand all</ion-label>
      <span color="dark" class="line">|</span>
      <ion-label color="primary" (click)="collapseAllFun()">collapse all</ion-label>
    </ion-col>
    
  </ion-row>
  <div class="accordiolnlist" *ngFor="let information of sendData;let i = index">

    <div class="title">

        <ion-button class="accordion" expand="full" (click)="toggleAccordian(information)">Ch {{i+1}}. {{information.topic_title}}
           <span class="iconarrow"><ion-icon *ngIf="showDescription" name="arrow-dropdown" class="droupup"></ion-icon>
             <ion-icon *ngIf="!showDescription" name="arrow-dropup"></ion-icon></span></ion-button>
             <div *ngFor="let x of information.child;let j = index">
              <div class="panel" *ngIf="showtitle==information.topic_title || !!expandAll" [class.showHide]="showDescription"> 

                
                  <ion-grid class="linedraw" *ngIf="information.child.length > 0">
                    <ion-row class="ion-no-padding">
                      <ion-col size="1">
                          <ion-icon name="logo-buffer"></ion-icon>
                      </ion-col>
                      <ion-col size="8" class="chaptername" (click)="GoToTopicPage(information.child,j)">
                          <ion-label >{{x.topic_title}}</ion-label>
                      </ion-col>
                      <ion-col size="3" class="eyecol">
                          <ion-icon name="eye"  (click)="toggleTopicDescription(x.topic_title)"></ion-icon>
                      </ion-col>
                      
                    </ion-row>
                  </ion-grid>
                  <div class="topicdescription" *ngIf="showitem==x.topic_title" [class.showHide]="showtopicdescription">

                    <ion-item>
                      {{x.topic_description}}
              
                    </ion-item>
                  </div>
              </div>
            </div>
            <ion-label>Go to chapter <span class="accflash" (click)="GoToTopicPage(information.child, 0)" >{{information.topic_title}}</span></ion-label>
     </div>
   
  </div>
  
</div>
