<ion-app>
  
  <ion-menu contentId="content1" side="end">
      <ion-header >
        <ion-toolbar class="menuHeader">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item (click)="openPage('')">
            <ion-label><ion-icon name="home"></ion-icon> Home</ion-label>
          </ion-item>
          <ion-item (click)="openPage('imprint')">
            <ion-label><ion-icon name="paper-plane"></ion-icon> Imprint</ion-label>
          </ion-item>
          <ion-item (click)="openPage('about')">
            <ion-label><ion-icon name="list"></ion-icon> About</ion-label>
          </ion-item>
          <ion-item (click)="openPage('contact')">
            <ion-label><ion-icon name="ios-contact"></ion-icon> Contact</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>
