<div class="flip-container" (click)="flip()" [class.flipped]="flipped" >

  <div class="flipper" >

    <div class="front">
      <ng-content select=".flash-card-front"></ng-content>
    </div>

    <div class="back">
     
      <ion-grid *ngIf="flipped"> 
        <ion-row >
          <ion-col size="12">
              <ng-content select=".flash-card-back">
              </ng-content>
          </ion-col>
        </ion-row>
        <ion-row class="btngroup">
          
          <ion-col size="6" class="markcheck" (click)="answerBtn(true)">
            <ion-button  expand="block" fill="clear" ><span class="checkmarkbtn"><ion-icon name="checkmark"></ion-icon></span> Got it</ion-button>
          </ion-col>
          <ion-col size="6" class="closemark " (click)="answerBtn(false)">
               <ion-button  expand="block" fill="clear" ><span class="closebtn"> <ion-icon name="close" ></ion-icon></span>Missed it</ion-button>
           </ion-col>
      </ion-row>
          
        </ion-grid>
    </div>
   

  </div>
  
  
</div>
