.ios, .md {

    flash-card {

        /*
         *  Flip animation by David Walsh: https://davidwalsh.name/css-flip
         */

        /* entire container, keeps perspective */
        .flip-container {
            perspective: 1000px;
        }

            /* flip the pane when hovered */
        .flip-container.flipped .flipper {
            transform: rotateY(180deg);
        }

        .flip-container, .front, .back {
            width: 85vw;
            height: 55vh;
            margin: 20px 0px 1px;
            border-radius: 30px;

        }
        /* flip speed goes here */
        .flipper {
            transition: 0.6s;
            transform-style: preserve-3d;
            position: relative;    
        }
        
        /* hide back of pane during swap */
        .front, .back {
            display: flex;
            align-items: center;
            justify-content: center;
            backface-visibility: hidden;
            -webkit-box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);
            -moz-box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);
            box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);
            border: 1px solid #dee2e3;
            margin: 0;
            position: absolute;
            top: 0;
            left: 0;
        }

        /* front pane, placed above back */
        .front {
            z-index: 2;
            transition: 0.6s;
            /* for firefox 31 */
            transform: rotateY(0deg);
            background: rgb(230,230,230	);
            color:rgb(56,56,56);
            font-weight: bolder;
            font-size: 6vw;
            padding: 16px;
            text-align: center;
            font-family: 'montserrat-Extrabold';
           
        }
        
        /* back, initially hidden pane */
        .back {
            @keyframes fadeInOut {
                0% {
                  opacity: 0;
                }
              
                100% {
                  opacity: 1;
                }
              }
            
            .TextClass{
                animation-name: fadeInOut;
                animation-delay: 00s;
                animation-duration: 5s;
            }
            transform: rotateY(180deg);
            background: rgb(231, 191, 183);
            color:#000;
            text-align: center;
            font-weight: bolder;
            font-size: 16px;
            /* 100 = viewport width, as 1vw = 1/100th of that
            Here, the body is 150% of viewport, but the container is 50%
            of viewport, so both parents factor  into how you want it to size.
            Let's say you like 5vw if it were the whole width,
            then for this container, size it at 3.75vw
            (5 * 1.5 [i.e. 150%]) * .5 [i.e. 50%]
            */
             font-size: 3.75vw;
            padding: 16px;
            font-family: 'montserrat-Extrabold';
            .btngroup{
                position: fixed;
                bottom: 0px;
                background: white;  
                width: 100%;
                left: 0px;
                border-radius: 0px 0px 30px 30px;
                transform: translateZ(0);
                -webkit-transform: translateZ(0);
            }             
        }
        .checkmarkbtn{
            color:#006600;
            margin-top: 4px;
           
          }
        .closebtn{
            color:red;
            font-size:17px;
        }
        .markcheck{
          
            
            box-shadow: 1px 10px 12px #888888;
            border-radius: 0px 0px 0px 30px;
        }
        .closemark{
        
            box-shadow: 1px 10px 12px #888888;
            border-radius: 0px 0px 30px 0px;
            
        }
    }
}