<ion-header>
  <ion-toolbar color="stable">
        <ion-row>
          <ion-col size="2" class="ion-text-center">
            
          </ion-col>
          <ion-col size="8" class="ion-text-center">
            <div class="ion-text-center">
              <ion-img class="logo" src="assets/AL-03.svg"></ion-img>
            </div>
          </ion-col>
          <ion-col size="2">
            <ion-menu-button autoHide="false"></ion-menu-button>
          </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed *ngIf="!ErrorText"> 
    <ion-row>
      <ion-col size="12" class="ion-text-right">
        <ion-button (click)="getFlashcardList()" class="btn">Firest Set <ion-icon name="ios-arrow-forward"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
          <ion-col size="12">
              <ion-text>
                  <h1 class="heading" *ngIf="Subjectname" >{{Subjectname}}</h1>
                  <hr>
              </ion-text>
                <ion-label>
                  <h1  class="ion-padding"> Overview</h1>
                </ion-label>
                  <div class="ion-padding">
                    {{overview}}
                  </div>
                  <ion-grid fixed>
                    <ion-row>
                      <ion-col size="12" [ngSwitch]="courseinformation">
                       
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col size="12">
                        <ion-label >{{sendData.length}} Chapters in Business Flashcard</ion-label >
                      </ion-col>
                    </ion-row>

                    
                  <ion-row> 
                    <ion-col size="12">
                      <div class="list">
                      <app-accordiolnlist *ngIf="sendData.length > 0" [sendData]='sendData'></app-accordiolnlist>
                      <h3 *ngIf="sendData.length <= 0"> Chapter not found</h3>
                      </div>
                    </ion-col>
                  </ion-row>               

                  <ion-row>
                    <ion-col size="12" class="ion-text-center">
                      <ion-button fill="clear"><ion-icon name="heart"></ion-icon>Like</ion-button>
                        <ion-button fill="clear"><ion-icon name="logo-facebook"></ion-icon>Share</ion-button>
                    </ion-col>
                  </ion-row>
                  </ion-grid>
                
          </ion-col>

    </ion-row>
  </ion-grid>   
  <ion-grid fixed *ngIf="!!ErrorText">
    <h1 class="heading">{{ErrorText}}</h1>
  </ion-grid>

  
</ion-content>
