
app-home{
    .logo{
        height: 50px;
    }
    .btn{
        --background: #4197B2;
    }
    
    .rightLabel{
        text-align: right;
    }
    
    .heading{
        color:#2D9191;
        font-size: 30px;
        margin: 15px;
        font-weight: bold;
    }
    .colorlabel{
        --color:#666;
    }
    
    .overviewbtn{
        --border-color:transparent;
        margin: 3px;
        width: 35px;
        border-radius: 13px 13px 0px 0px;
        --color-checked :#000;
        
        --color:#666;      
    }
    .syllabusbtn{
        width: 35px;
        margin: 3px;
        border-radius: 13px 13px 0px 0px;
        background:#5491A9;
    }
    
    .creditbtn{
        margin:3px;
        width: 35px;
        border-radius: 13px 13px 0px 0px;
        background:#5491A9;
    }
    .testsbtn{
        margin:3px;
        width: 35px;
        border-radius: 13px 13px 0px 0px;
        background:#5491A9;
    }
    .courselbl{
        font-size: 17px;
    }
    .instaicon{
        color:#5491A9;
        font-size: 20px;
        margin-top: 3px;
    }
    .twittericon{
        color:#5491A9;
        font-size: 20px;
        margin-top: 3px;
    }
    hr{
        border-bottom: 1px solid #ccc;
    }
    .line{
        padding: 0px 10px 0px 10px;
    }
    .accflash{
        color:#4096B0;
    }
    .text-right{
        text-align: right;
        
    }
    .text-left{
        text-align: left;
        
    }
    .btninsta {
        text-transform: none;
    }
    .btntwitter{
        text-transform: none;
    }
    .sc-ion-segment-ios-h{
        --background-checked:transparent;
    }
    
}
