<ion-header>
  <ion-toolbar color="stable">
        <ion-row>
          <ion-col size="2" class="ion-text-center">
            
          </ion-col>
          <ion-col size="8" class="ion-text-center">
            <div class="ion-text-center">
              <ion-img class="logo" src="assets/AL-03.svg"></ion-img>
            </div>
          </ion-col>
          <ion-col size="2">
            <ion-menu-button autoHide="false"></ion-menu-button>
          </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-icon name="information" class="infoIcon"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-text>
          <h1 class="heading">Syllabus</h1>
          <hr>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" >
        <div class="col-4" [innerHTML]="syllabus"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
