app-syllabus{
    .logo{
        height: 50px;
    }
    .heading{
        color:#666666;
        font-size: 30px;
        margin: 15px;
        font-weight: bold;
    }
    .infoIcon{
        font-size: 60px;
    }
    

}