<ion-header>
  <ion-toolbar color="stable">
        <ion-row>
          <ion-col size="2" class="ion-text-center">
            
          </ion-col>
          <ion-col size="8" class="ion-text-center">
            <div class="ion-text-center">
              <ion-img class="logo" src="assets/AL-03.svg"></ion-img>
            </div>
          </ion-col>
          <ion-col size="2">
            <ion-menu-button autoHide="false"></ion-menu-button>
          </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="marginTop">
      <ion-col size="4"  class="ion-text-right">
        <ion-icon name="ios-create" class="IconSize"></ion-icon>
      </ion-col>
      <ion-col size="8"  class="ion-text-left">
        <ion-label class="textLabel">Practice Tests</ion-label>  
      </ion-col>
    </ion-row>
    <ion-row class="box marginTop">
      <ion-col size="12" class="ion-text-center">
        Business Flashcards
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-icon class="IconSize" name="ios-keypad"></ion-icon>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        No Test available
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
