app-tests{
    .logo{
        height: 50px;
    }
    .IconSize{
        font-size: 60px;;
    }
    .textLabel{
        font-size: 23px;
    }
    .box{
        font-size: 25px;
        color: #ffffff;
        padding: 25px;
        background-color: #4197B2;
    }
    .marginTop{
        margin-top: 50px;
    } 

}