app-questionner {
  .logo{
    height: 50px;
}

    .am-notice-bar-icon {
      margin-left: 0px !important;
    }
    
  ion-toolbar{
    --background: #76D49B;
    font-family: "montserrat-Extrabold";
    
    font-weight: bolder;
  }
    .menu {
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 5px;
      }
    }
  
    .ad-box {
      height: auto;
      margin: 8px;
  
      img {
        width: 100%;
        height: 100%;
      }
    }
  
    .hot-title {
      width: 100%;
      height: 45px;
  
      img {
        width: 100%;
      }
    }
  
    .hot {
      display: block;
      white-space: nowrap;
      width: 100%;
      overflow: auto;
      background: #fff5f5;
      padding-top: 7px;
      position: absolute;
      height: auto;
  
      li {
        display: inline-block;
        list-style: none;
        width: 150px;
        text-align: center;
        margin-left: 7px;
  
        img {
          width: 150px;
          height: auto;
        }
  
        div {
          position: absolute;
          top: 10px;
          margin-left: 1px;
          width: 27px;
          height: 27px;
          background-position: 50%;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  
  
    // hide scrollbar
    ion-row::-webkit-scrollbar {
      display: none;
    }
  
    ion-segment {
      --background-checked: none !important;
      --color-checked: var(--ion-color-danger) !important;
      --border-color: var(--ion-toolbar-color) !important;
      padding: 8px;
    }
  
    ion-segment-button {
      font-size: 15px !important;
    }
  
    .guess-b {
      background: var(--my-custom-background);
  
      div {
        background: var(--ion-toolbar-color);
      }
    }
  
    .selected {
      border-bottom: 2px solid;
    }
    .pagination-slide{
      font-size: 10px;
      height: 16px;
      width: 16px;
    }
    .swiper-pagination-bullet {
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 38px;
      font-size: 17px;
     
    }
  .swiper-pagination-bullet{
    opacity: 1;
    background: #ffffff;
  }
  .swiper-pagination-bullet-active{
    background: var(--bullet-background-active);
    color:#ffffff;
    font-weight: bolder;
  }
  .currentScore{
    font-family: "montserrat-Extrabold";
    font-size: 35px;
    font-weight: bolder;
  }

  .cardsdisplay{
    margin-top: 5px;
  }
  .cards{
    color: #5AADAD;

  }
  .backbtn{
    --color: #4798B0;
    float: left;
    margin-top: -16px;
    
    z-index: 50;
    font-size: 20px;

  }
  .forwardbtn{
    --color:#4798B0;
    float:right;
    text-align: right;
    margin-top: -10px;
    
    z-index: 50;
    font-size: 20px;
  }
  .refreshicon{
    color:#4798B0;
    font-size: 25px;
    margin-top: -25px;
    text-align: center;
    
    
  }
  .checkmarkcolor{
    color:#006600;
    font-size: 29px;
    margin-bottom: -7px;
  }
  .closecolor{
    color:red;
    font-size: 29px;
    margin-bottom: -7px;
  }

  
  .score{
    text-align: right;
  }
  .backarrow{
    margin-top: 2px;
  }
  .backicon{
    color:#4798B0;
  }
  .set{
    margin-top: 5px;
  }
  .checkmarkbtn{
    color:#006600;
  }
  .closebtn{
    color:red;
  }
  .markcheck{
    text-align: right;
  }
  .closemark{
    text-align:left;
  }
  .bodyClass{
    --background: #e0ddd3;
  }
  }
  