<ion-header>
  <ion-toolbar color="stable">

    <ion-row>
      <ion-col size="2" class="ion-text-center">
        
      </ion-col>
      <ion-col size="8" class="ion-text-center">
        <div class="ion-text-center">
          <ion-img class="logo" src="assets/AL-03.svg"></ion-img>
        </div>
      </ion-col>
      <ion-col size="2">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-col>
    </ion-row>
      
  </ion-toolbar>
</ion-header>
<ion-content class="bodyClass">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="4" class="set"> 
          <span><ion-icon name="ios-arrow-back" color="dark"></ion-icon></span> 
        <ion-label class="backicon" (click)="onClickset()">
          Set</ion-label>
      </ion-col>
      <ion-col size="4" class="set ion-text-center">
          <ion-label *ngIf="!!flashCardList" class="cards">{{currentCard}} / {{flashCardList.length}}  Cards</ion-label>
      </ion-col>
      <ion-col size="4"> 
       
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="score">
        <ion-label>{{suceessData}}<ion-icon name="checkmark" class="checkmarkcolor"></ion-icon></ion-label>
        <ion-label>{{rejected}} <ion-icon name="close" class="closecolor"></ion-icon></ion-label>
      </ion-col>
    </ion-row>   
    
  </ion-grid>
  <ion-slides pager="false" [options]="slideOpts" #slides (ionSlideNextEnd)="slideNext()" (ionSlidePrevEnd)="slidePrev()" >
    <ion-slide *ngFor="let flashcard of flashCardList;let i=index" class="ion-margin-bottom">
      <flash-card (AnswerData)="calculate($event)" (refereshButton)="RefreshBtn()">

        <div class="flash-card-front" >
        </div>
        <div class="flash-card-front">{{flashcard.front}}</div>
        <div class="flash-card-back"><span class="TextClass">{{flashcard.back}}</span></div>

      </flash-card>
    </ion-slide>

  </ion-slides>
  <ion-grid fixed *ngIf="flashCardList">
    
    <ion-row>
      <ion-col size="4" class="ion-text-center ion-text-capitalize ">
          <ion-button (click)="previousCard()" fill="clear" class="backbtn" [disabled]="!visiblePrev">
          <ion-icon name="ios-arrow-back"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="4" class="refreshicon">
          <ion-button  (click)="RefreshBtn()" fill="clear">
            <ion-icon  name="refresh"></ion-icon>
          </ion-button>
        </ion-col>
    
      <ion-col size="4" class="ion-text-center ion-text-capitalize  forwardbtn">
          
        <ion-button  (click)="nextCard()" fill="clear" class="forwardbtn" [disabled]="!visibleNext">
          <ion-icon name="ios-arrow-forward" ></ion-icon>
         </ion-button>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>